:root {
	--main-bg-color: #f1fffa;
	--dark-text: #464e47;
	--dark-alt: #868786;

	--light-text: #a4b7a9;

	--light-accent: #ccfccb;
	--light-secondary: #96e6b3;

	--dark-accent: #568259;
}
html,
body {
	height: 100dvh;
	margin: 0;
	padding: 0;
	color: var(--dark-text);
	font-family: Arial;
	background-color: var(--main-bg-color);
	overflow: hidden;
}

button {
	all: unset;
	box-sizing: border-box;
	border-radius: 0.4em;
	padding: 0.5em;
	background-color: var(--dark-text);
	color: var(--main-bg-color);
	width: 100%;
	text-align: center;
	transition: all 0.1s;
}
button:hover {
	background-color: var(--light-text);
	color: var(--dark-text);
	cursor: pointer;
}

input,
textarea,
select {
	all: unset;
	box-sizing: border-box;
	border-radius: 0.4em;
	padding: 0.5em;
	margin: 0;
	width: 100%;
	box-shadow: 0px 0px 2px var(--light-text);
	transition: all 0.3s;
}
input:focus,
textarea:focus,
select {
	box-shadow: 0px 0px 3px var(--dark-text);
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.add {
	position: absolute;
	right: 30px;
	width: fit-content;
	height: fit-content;
	bottom: 30px;
	fill: var(--dark-alt);
}

.add:hover {
	fill: var(--light-text);
}

.loader {
	border: 16px solid var(--light-text);
	border-top: 16px solid var(--light-secondary);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.error-response {
	color: rgb(175, 56, 56);
	background-color: rgb(232, 174, 174);
	padding: 0.2em;
	margin: 0;
	border-radius: 0.4em;
}

.modal-button-container {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.full-screen {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/* Animate  */
.dot {
	display: inline-block;
}
.dot:nth-child(1) {
	animation-delay: 0ms;
	animation: 1s infinite elip ease-in-out;
}
.dot:nth-child(2) {
	animation: 1s infinite elip ease-in-out;
	animation-delay: 100ms;
}
.dot:nth-child(3) {
	animation: 1s infinite elip ease-in-out;
	animation-delay: 200ms;
}
@keyframes elip {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}
